
@model AppUser  ﻿

<aside class="main-sidebar sidebar-light-primary elevation-4">
  
    <a href="/Profile/Index" class="brand-link">
      <img src="~/AdminLTE-3.2.0/dist/img/AdminLTELogo.png"  alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Identity Mail</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE-3.2.0/dist/img/mails.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
               <a href="/Profile/Index" class="d-block">@Model.Email</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Mail/CreateMail/" class="nav-link">
                        <i class="fi fi-sr-apps "></i> &ensp;
                        <p>
                           Yeni Mail
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Index" class="nav-link">
                        <i class="fi fi-sr-envelope "></i> &ensp;
                        <p>
                            Gelen Kutusu
                        </p>
                        <span class="badge bg-primary float-right">@ViewBag.Index</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Send" class="nav-link">
                        <i class="fi fi-sr-paper-plane "></i>&ensp;
                        <p>
                            Giden Kutusu
                        </p>
                         <span class="badge bg-success float-right">@ViewBag.Send</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/DraftList" class="nav-link">
                        <i class="fi fi-sr-envelope y"></i>&ensp;
                        <p>
                            Taslaklar
                        </p>
                         <span class="badge bg-secondary float-right">@ViewBag.DrafList</span>
                    </a>
                </li>
                
                 <li class="nav-item">
                    <a href="/Mail/Important" class="nav-link">
                        <i class="fi fi-sr-star "></i>&ensp;
                        <p>
                            Önemli
                        </p>
                        <span class="badge bg-warning float-right">@ViewBag.Important</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Trash" class="nav-link">
                        <i class="fi fi-sr-trash "></i>&ensp;
                        <p>
                            Çöp Kutusu
                        </p>
                        <span class="badge bg-danger float-right">@ViewBag.Trash</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Mail/Junk" class="nav-link">
                        <i class="fi fi-sr-exclamation"></i>&ensp;
                        <p>
                            Spam
                        </p>
                         <span class="badge bg-info float-right">@ViewBag.Junk</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-route-returnurl="/Login/SignIn" asp-controller="Login" asp-action="LogOut" class="nav-link">
                        <i class="fi fi-sr-leave text-danger"></i>&ensp;
                        <p>
                            Çıkış
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>