@model InboxMailViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper ">

    <!-- Main content -->
    <section class="content">
        <div class="row">
         
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Gelen Kutusu</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Mesaj Ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body p-0">
                        @if (Model.PageInfo.TotalItems > Model.PageInfo.ItemsPerPage)
                        {
                            <div class="mailbox-controls">

                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="far fa-square"></i>
                                </button>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <div class="float-right">
                                    @Model.PageInfo.CurrentPage - @Model.PageInfo.ItemsPerPage / @Model.PageInfo.TotalPages()
                                    <div class="btn-group">
                                        @if (Model.PageInfo.CurrentPage > 1)
                                        {
                                            <a href="/Mail/Index/?page=@(Model.PageInfo.CurrentPage-1)" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i> </a>
                                        }
                                        @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages())
                                        {
                                            <a href="/Mail/Index/?page=@(Model.PageInfo.CurrentPage+1)" class="btn btn-default btn-sm">><i class="fa fa-chevron-right"></i></a>
                                        }
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.float-right -->
                            </div>
                        }
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover">
                                <tbody>
                                    @foreach (var item in Model.Mails)
                                    {
                                        <tr class="font-weight-bold">
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check1">
                                                    <label for="check1"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                            <td class="mailbox-name"><a href="read-mail.html" style="color: inherit;">@item.ToUserEmail</a></td>
                                            <td class="mailbox-subject">
                                                @{
                                                    var des = item.MailContent.Substring(0, 20).LastIndexOf(" ");
                                                }

                                                <a href="/Mail/MailDetail/@item.MailId" style="color: inherit;"> <b>@item.MailSubject</b> - @item.MailContent.Substring(0, des)...</a>
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">@item.MailDate.ToShortDateString()</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

