
@model MailDetailViewModel

@{
    ViewData["Title"] = "MailDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper ">
    <section class="content ">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Gelen Mail Detayları</h3>

                           
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="mailbox-read-info">
                                <h2>@Model.MailSubject</h2>
                                <h5>
                                    <br />
                                    Kimden : @Model.AppUser.Name @Model.AppUser.Surname  &nbsp; <span class="mailbox-read-time">@Model.AppUser.Email</span>
                                    <span class="font-weight-bold mailbox-read-time float-right">@Model.MailDate.ToString("dddd, dd MMMM yyyy") @Model.MailTime.ToString("hh\\:mm")</span>
                                </h5>
                            </div>
                            <!-- /.mailbox-read-info -->
                            <div class="mailbox-controls with-border ">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                                       Cevapla
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                                       Paylaş
                                    </button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm" title="Print">
                                    <i class="fas fa-print"></i>
                                </button>
                            </div>
                            <!-- /.mailbox-controls -->
                            <div class="mailbox-read-message ">
                                <br />
                                @Html.Raw(Model.MailContent)
                                <br />
                                <br />
                            </div>
                            <!-- /.mailbox-read-message -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>